<nav class="wraper" ng-controller="NavbarCtrl as navbar">

  <ul class="main-menu">
    <li><a ui-sref="home" translate>Home</a></li>
    <li><a ui-sref="secured" translate>Secured</a></li>
    <li><a ui-sref="login" translate>Login</a></li>
    <li><a ui-sref="users" translate>Users</a></li>

  </ul>

  <ul class="language-menu">
    <li>
      <a ng-hide="currentLanguage == null" ng-click="switchLanguage(null)">Dev</a>
      <a ng-hide="currentLanguage == 'pl'" ng-click="switchLanguage('pl')">Pl</a>
    </li>
  </ul>

</nav>
